@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap');

/*Nullify*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

.sub_menu_list {
    position: relative;
    padding: 8px 12px;
    z-index: 99999;
    box-shadow: rgba(0, 0, 0, 0.16) 0 5px 16px;
    background-color: white;
}

.sub_sub_menu_list_wrapper {
    position: absolute;
    top: 0;
    display: none;
    left: 100%;
}

.sub_sub_menu_list {
    position: relative;
    margin-left: 20px;
    padding: 8px 12px;
    z-index: 99999;
    box-shadow: rgba(0, 0, 0, 0.16) 0 5px 16px;
    background-color: white;
}

.sub_menu_list > li:hover .sub_sub_menu_list_wrapper {
    display: block;
}

.sub_menu_list li {
    position: relative;
}

.sub_menu_list_wrapper {
    position: absolute;
    display: none;
    padding-top: 12px;
}

.navbar_menu_item:hover .sub_menu_list_wrapper {
    display: block;
}

.navbar_menu_item a:visited {
    color: inherit;
}

.sub_menu_item {
}

.sub_menu_item:not(:first-of-type) {
    margin: 16px 0 0 0;
    /*margin: 20px 0 10px 0;*/
}

.arrow {
    position: relative;
    right: 0;
    top: 15px;
    left: 4px;
    width: 0;
    height: 0;
    border-top: 7px solid black;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.menu_arrow {

}

/*region burger*/

.header_burger {
    display: none;
}

@media (max-width: 799px) {

    body.lock {
        overflow: hidden;
    }

    .nav_bar_right {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: -100%;
        padding: 80px 20px 0;
        background-color: white;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease 0s;
        left: 0;
        overflow: auto;
    }

    .nav_bar_right.active {
        display: flex;
        flex-direction: column;
        top: 0;
    }

    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .header_burger span {
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header_burger:before, .header_burger:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .nav_bar {
        display: flex;
        flex-direction: column;
    }

    .nav_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background-color: white;
        z-index: 10;
        padding-top: 30px;
    }

    .header_burger:before {
        top: 0;
    }

    .header_burger:after {
        bottom: 0;
    }

    .header_burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header_burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header_burger.active span {
        transform: scale(0);
    }

    .navbar_menu li {
        display: block;
    }

    .navbar_menu_item {
        padding: 10px;
        font-size: 26px;
        display: block;
    }

    .navbar_form {
        display: flex;
        justify-content: space-between;
    }

    .navbar_menu {
        font-size: 16px;
        display: inline-block;
        margin-top: 24px;
    }

    .navbar_email_wrapper {
        display: block;
        margin: 12px 10px;
        flex-shrink: 0;
    }

    .sub_menu_list_wrapper {
        display: block;
        position: relative;
        left: 0;
    }

    .sub_sub_menu_list_wrapper {
        display: block;
        position: relative;
        left: 0;

    }

    .email_wrapper {
        border: 2px solid;
        border-radius: 10px;
        overflow: auto;
    }


    h1 {
        font-weight: 600;
        font-size: 48px;
        max-width: 800px;
        text-align: center;
        align-self: center;
    }

    .main-wrapper {
        padding: 80px 0;
    }

}

/*endregion*/

/*region Header*/
.site_logo {
    background: url('../landing-img/icons/supchat_logo.svg') left no-repeat;
    padding-left: 50px;
    color: black;
    font-weight: bold;
    font-size: 36px;
}

.header {
    padding: 0 0 20px 0;
    position: sticky;
    position: -webkit-sticky; /* for Safari */
    top: 0;
    background: white;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
}

.nav_header {
    display: inherit;
    justify-content: inherit;
}

@media (min-width: 800px) {
    .nav_bar_right {
        display: flex;
        align-items: center;
    }

    .navbar_menu_item {
        display: inline-block;
        padding: 10px;
        font-size: 16px;
    }

    .navbar_menu {
        font-size: 16px;
        display: inline-block;
        margin-bottom: 0 !important;
    }

    .navbar_email_wrapper {
        display: inline-block;
        margin: 0 10px;
    }


    h1 {
        font-weight: 600;
        font-size: 78px;
        max-width: 800px;
        text-align: center;
        align-self: center;
    }

    .main-wrapper {
        padding: 140px 0;
    }


}

.main_title {
    font-size: 3.5rem;
}

.auth_top {
    align-items: center;
}


.email_wrapper {
    border: 2px solid;
    border-radius: 10px;
    overflow: hidden;
}

.navbar_form {
    display: flex;
}

.email_submit {
    font-size: 16px;
    color: white;
    background: black;
    padding: 0 20px;
}

.email_input {
    font-size: 16px;
    max-width: 140px;
    padding: 6px 12px;
}

.footer {
    background-color: #f5f5f5;
}

.footer_row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

.footer_text {
    font-size: 16px;
    letter-spacing: 0.3px;
}

.privacy-row {
    display: flex;
    justify-content: center;
}

.privacy-text {
    padding: 8px;
}

.navbar_email_input {
}

.email_input {
}

.navbar_email_wrapper {
    display: inline-block;
}

/*endregion*/

/*region Main*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth_middle {
    margin-top: 16px;
}

.auth_api_id {
    font-size: 16px;
    letter-spacing: 0.3px;
}

.auth_api_key {
    display: block;
    font-weight: 700;
}

.auth_api_key_hidden {
    display: none;
}

.auth_progress {
    display: block;
}

.auth_progress_hidden {
    display: none;
}

.auth_form {
    display: block;
}

.auth_form_hidden {
    display: none;
}


/*endregion*/

/* region stores buttons */

.btn-store {
    color: #777777;
    min-width: 254px;
    padding: 12px 20px !important;
    border-color: #dddddd !important;
}

.btn-store:focus,
.btn-store:hover {
    color: #ffffff !important;
    background-color: #2a8eff;
    border-color: #2a8eff !important;
}

.btn-store .btn-label,
.btn-store .btn-caption {
    display: block;
    text-align: left;
    line-height: 1;
}

.btn-store .btn-caption {
    font-size: 24px;
}

.center-align {
    justify-content: center;
}


 /* endregion*/
